{{ partial "header.html" . }}

<h1>Posts</h1>
<section class="post-list">
    {{ range .Data.Pages }}
      <section class="post">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <h6 class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</h6>
        <p>{{ .Summary }}</p>
        <p><a class="readmore" href="{{ .Permalink }}">Read More</a></p>
      </section>
    {{- end }}
</section>
{{ partial "footer.html" . }}

<!-- <h2>Articles</h2>
{{- range first 10 .Data.Pages -}}
  {{- if eq .Type "posts"}}
    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  {{- end -}}
{{- end }}
<h2>Pages</h2>
{{- range first 10 .Data.Pages -}}
  {{- if eq .Type "page" }}
    <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  {{- end -}}
{{- end }} -->
